<div
  class="todo-item d-flex justify-content-between align-items-center"
  (mouseover)="isHovered = true"
  (mouseout)="isHovered = false"
>
  <div class="todo"><input type="checkbox" class="toggle text-center" /> <label>Todo Item</label></div>

  <div class="d-flex align-items-center">
    <span class="icon-wrapper text-center edit" [ngClass]="{ active: isHovered }">
      <i class="eva eva-edit-outline" (click)="isEditing = true"></i>
    </span>
    <span class="icon-wrapper text-center" [ngClass]="{ active: isHovered }"> <i class="eva eva-close"></i> </span>
  </div>

  <form class="edit-form" *ngIf="isEditing">
    <input type="text" name="editTodo">
  </form>
</div>

