.icon-wrapper {
  width: 40px;
  line-height: 45px;
  font-size: 40px;
  color: grey;
  background: white;
  transition: 250ms all ease-in-out;
  cursor: pointer;

  &:hover {
    color: black;
  }
}

app-todo-input {
  width: 100%;
}
